.form {
    height: 60vh;
    width: 50vw;
    position: relative;
    left: 35%;
    background-color: #414559;
    border: 5px solid #737994;
    border-radius: 25px;
    box-shadow: 0 0 10px;
    display: flex;
    justify-content: center;
}

.inputs {
    position: absolute;
    display: flex;

}

.buttonWrapper {
    height: fit-content;
    width: 325px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 25px;

    button {
        height: 50px;
        width: 150px;
        border: 0;
        border-radius: 0;
        background-color: #949cbb;

        :hover {
            background-color: #838ba7;
        }
    }
}