@use "../../styles/colors" as *;

.panel {
    display: flex;
    flex-direction: column;
    background-color: $surface-color;
    border-right: 1px solid $border-color;
    max-width: fit-content;
    min-height: 100vh;
    align-items: center;
    box-shadow: 0 0 5px black;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin: 7px;
            transition: .2s;
        }

        li:hover {
            transform: scale(1.1);
        }

        li:active {
            transform: scale(1.05);
        }
    }
}