// Base
$white: #dce0e8;
$bg-color: #303446;
$surface-color: #292c3c;
$text-color: #c6d0f5;
$text-muted: #a5adce;

// Primary / Accent
$primary-color: #8caaee;
$primary-hover: #739cd6;

$accent-color: #f4b8e4;

// Success / Warning / Error
$success-color: #a6d189;
$warning-color: #e5c890;
$error-color: #e78284;

// Borders / UI
$border-color: #51576d;
$input-bg: #414559;
$input-border: #626880;
$input-text: $text-color;