body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #303446 !important;
    display: flex;
    width: 100vw;
    height: 100vh;
}